body {
    background:  #9FC131;
    color: #042940;
    font-family: Verdana;
}

#first-title{
    text-align:center;
}

#div-calculadora {
    border: 4px solid #042940;
    border-radius: 7px;
    box-shadow: 8px 8px 15px #042940;
    width: 450px;
    padding: 15px;
    margin: 15px auto;
}

#div-text-name, #div-text-height, #div-text-weight {
    padding: 10px;
    font-size:1.2em;
    font-weight:bolder;
}

#input-name, #input-height, #input-weight {
    width: 100%;
    border-radius: 7px;
    height: 35px;
    border: none;
}

#div-final-result{
    width:100%;
    background:#fff;
    border-radius:7px;
    height:70px;
    margin-top:15px;
}

#div-end-buttons{
    margin-top:15px;
    text-align:center;

}
#Submit-calc, #Submit-file-generator {
    height: 35px;
    width: 48%;
    background: #D6D58E;
    font-size: 1.2em;
    font-weight: bolder;
    color: #042940;
    border: 1px solid #042940;
    border-radius: 7px;
}
